:host {
    display: block;
    margin-bottom: 3rem;
}

.awg-graph-generated-badge {
    background-color: #f3b61f;
    color: #3b2f00;
    font-size: 0.6em;
    font-weight: 500;
}

.awg-graph-generated-facets {
    min-width: 20rem;

    .dropdown-item {
        white-space: normal;
        cursor: pointer;
    }
}
