.awg-edition-card .card-body .d-flex {
    display: flex;
    align-items: center;
}

.awg-edition-card .card-body .badge {
    margin-right: 0.5rem;
}

.awg-edition-card .card-body h5 {
    margin-bottom: 0;
}

.awg-edition-card .card-body .awg-edition-info-header-title {
    flex: 1;
}
